.footer__content {
  margin-bottom: 60px;
  color: #545454;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
}

/* ###################################     M E D I A     Q U E R I E S     ################################### */

@media screen and (max-width: 920px) {
  .footer__content {
    width: 282px;
    margin-bottom: 35px;
    font-size: 14px;
    padding-left: 20px;
  }
}
