.header__content {
  width: 100%;
  margin: 45px auto 0;
  border-bottom: 1px solid #545454;
}
.header__logo {
  max-width: 173px;
  max-height: 33px;
  margin-bottom: 40px;
}

/* ###################################     M E D I A     Q U E R I E S     ################################### */

@media screen and (max-width: 920px) {
  .header__logo {
    padding-left: 30px;
  }
}
