/*Configuración de estilos del documento*/
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #000;
  font-family: "Inter", Arial, sans-serif;
  max-width: 1280px;
  min-width: 320px;
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
}

.page {
  max-width: 880px;
  margin: auto;
}

.card {
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden;
}

/* ###################################     M E D I A     Q U E R I E S     ################################### */

.button:hover {
  /*Media query para hover en botones*/
  opacity: 60%;
}
