/*Configuración de estilos del documento*/
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #000;
  font-family: "Inter", Arial, sans-serif;
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
}

.page {
  max-width: 880px;
  margin: auto;
}

.button:hover {
  /*Media query para hover en botones*/
  opacity: 60%;
  cursor: url("../images/custom-pointer.png"), pointer;
}

.card {
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden;
}
