.profile__content {
  margin-top: 40px;
  margin-bottom: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.profile__user {
  display: flex;
}
.profile__avatar {
  max-width: 120px;
  max-height: 120px;
}
.profile__info {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  max-width: 420px;
}

.profile__name-container {
  display: flex;
  align-items: center;
}
.profile__name {
  color: #fff;
  font-weight: 500;
  font-size: 42px;
  line-height: 1;
}
.profile__edit-button {
  max-width: 24px;
  max-height: 24px;
  padding-left: 18px;
}
.profile__occupation {
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  padding-top: 16px;
}
.profile__add-button {
  display: flex;
  width: 150px;
  height: 50px;
  align-content: flex-end;
  border: 2px solid #fff;
}
.add-button__image {
  width: 22px;
  height: 22px;
  margin: auto;
}

/* ###################################     M E D I A     Q U E R I E S     ################################### */

@media screen and (max-width: 920px) {
  .profile__content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .profile__user {
    flex-direction: column;
    align-items: center;
  }

  .profile__info {
    padding-left: 0;
    margin-top: 30px;
  }

  .profile__edit-button {
    max-width: 18px;
    max-height: 18px;
    padding-left: 10px;
  }

  .profile__name {
    font-size: 22px;
  }

  .profile__occupation {
    font-size: 14px;
  }

  .profile__add-button {
    width: 282px;
    margin-top: 36px;
  }
  .add-button__image {
    width: 16px;
    height: 16px;
  }
}
